*
{
    margin: 0;
    padding: 0;
}

body{
    
    background-image: url(../images/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}






header {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
    color: white;
    border: 1px solid #cccccc;
    font-family: Impact, Charcoal, sans-serif;
    background-image: url(../images/moviebanner.jpg);
    
    
}

#navigation {
	float:right;
	clear:right;
	padding-top:28px;
	padding-bottom:47px;
}
#navigation ul {
	list-style:none;
}
#navigation ul li {
	float:left;
	display:inline;
	padding-left:29px;
}
#navigation ul li a {
	font-size:18px;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
}
#navigation ul li a.active, #navigation ul li a:hover {
	color: white;
}

#sub-navigation {
     border-top:2px solid #cccccc;
	border-bottom:2px solid #cccccc;
	display:block;
	clear:right;
	padding:8px 0;
}
#sub-navigation ul {
	list-style:none;
}
#sub-navigation ul li {
	float:left;
	display:inline;
	padding-right:23px;
}
#sub-navigation ul li a {
	font-size:14px;
	font-weight:bold;
	color:#fff;
	line-height:24px;
	text-decoration:none;
}
#sub-navigation ul li a:hover {
	text-decoration:underline;
}




.series h3{
    color: white;
    float: left;
    margin-top: 30px;
    font-size: x-large;
}



.series img{
    width: 100%;
    margin-top: 15px;
    box-shadow: -4px 4px 5px 0 #000;
    cursor: pointer;
    transition: 1s;
}

.series img:hover{
    transform: translateY(-10px);
}


.series h2{
    font-size: small;
    margin-top: 20px;
        
}

footer {
    
    clear: both;
    border: 1px solid #cccccc;
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: black;
    text-align: center;
}

footer ul li{
    display: inline;
    list-style-type: none;
    padding: 15px;
    margin: 5px;
   
}

footer ul li a{
     text-decoration: none;
    color: white;
    font-weight: bold;
}

